.create-plan {
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0 0 20px var(--border);
	padding-bottom: 120px;
	position: relative;
	z-index: 2
	background-color: #fff;
}

.create-plan header .title {
	margin: 0 !important;
	font-size: 1.5em;
}

.create-plan header small {
	color: var(--grey);
}

.create-plan .amount-div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.create-plan .amount-div span {
	color: var(--malachi);
	font-weight: 900;
}

.create-plan label {
	margin-top: 15px;
	display: block;
}

.create-plan input[type=number] {
	padding: 8px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid var(--grey);
}

.create-plan #list {
	max-height: 300px;
	overflow: auto;
	margin-top: 8px;
	background-color: #fff;
	width: 100%;
	padding-right: 14.5px;
}

.create-plan .shipping-info {
	padding: 5px;
	border-radius: 8px;
	background-color: #fff;
	margin: 10px 0;
}

.create-plan .shipping-info input[type=text] {
	padding: 8px;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid var(--grey);
	margin: 5px 0;
}

.create-plan .listed-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.5px solid var(--malachi);
	width: 100%;
}

.create-plan .listed-item .img-container {
	width: 80px;
	height: 80px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
}

.create-plan .listed-item .img-container img {
	width: 80px;
	border-radius: 10px;
}

.create-plan .listed-item .text {
	overflow: auto;
	padding-left: 15px;
	width: 70%;
}

.create-plan .listed-item .text .product-name {
	font-weight: bold;
}

.create-plan .listed-item .text .product-price {
	font-size: 0.9em;
	margin-top: 2px;
}

.create-plan .listed-item .text .product-price span {}

.create-plan .create-plan-btn {
	display: block !important;
	background-color: var(--malachi);
	color: #fff;
	width: 100%;
	border: none;
	padding: 12px 16px;
	font-weight: bold;
	border-radius: 15px;
	margin-top: 10px;
}

.create-plan .create-plan-btn:hover {
	background-color: var(--malachi-dark);
}

.create-plan .selected-item {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 8px;
	background-color: #fff;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0 0 10px var(--border);
}

.create-plan .selected-item .image-container {
	width: 160px;
	height: 160px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-radius: 10px; */
}

.create-plan .selected-item img {
	width: 160px;
	/* border-radius: 10px; */
}

.create-plan .selected-item .product-name {
	font-size: 1.2em;
	font-weight: bold;
}

.create-plan .selected-item .product-price {

}
